#Labeling {
  padding: 0 14%;
  padding-top: 90px;
  color: #555555;

  /* height: 90vh; */
}

.working-area-container {
  background-color: white;
  width: 55vw;
  height: 77vh;
  box-shadow: 0px 3px 6px #00000029;
  padding: 50px 40px;
  padding-top: 45px;
}

.question-history-container {
  background-color: white;
  width: 25vw;
  position: relative;
  height: 77vh;
  margin-left: 20px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 50px 45px;
  padding-top: 45px;
}

.back-button {
  width: 120px;
  color: #4D87EB;
  text-shadow: 0px 3px 6px #00000029;
  font-size: 14px;
  margin-bottom: 35px;
  cursor: pointer;
}

.working-article-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.working-article-content {
  font-size: 16px;
  margin-bottom: 50px;
}

.working-question {
  white-space: nowrap;
}

.working-textarea {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  resize: none;
  font-size: 16px;
  padding: 8px 14px;
  outline: none;
  color: #555555;
  border: 1px solid #aaaaaa;
}

.working-textarea::placeholder {
  opacity: 0.5;
  /* font-weight: bold; */
}

.label-button {
  width: 60px;
  height: 60px;

  background: #4D87EB 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  color: white;

  font-size: 14px;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.label-button:hover {
  cursor: pointer;
}

.function-button {
  width: 80px;
  height: 60px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #4C87EA;
  border-radius: 12px;
  opacity: 1;
  display: flex;
  text-align: center;
  font: normal normal bold 14px/17px Helvetica Neue;
  letter-spacing: 0px;
  color: #4D87EB;
  opacity: 1;
  justify-content: center;
  align-items: center;
  margin-top:40px;
  user-select: none;
  transition: 0.5s;
}

.function-button:hover {
  cursor: pointer;
  background-color: #4D87EB;
  color: white;
}

.mr-40 {
  margin-right: 40px;
}

.body-padding {
  padding: 0 50px;
}

.question-title {
  width: 100%;
  margin-bottom: 35px;
  font-size: 20px;
  display: fixed;
  color: #4D87EB;
}

.light-green {
  background-color: #1FDCA8;
}

.history-card-container {
  width: 100%;
}

.history-card {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  padding: 0 5px;
  padding-bottom: 15px;
}