#Paragraphs {
  padding: 0 14%;
  padding-top: 90px;
  color: #555555;
}

.paragraph-title-container {
  color: #585858;
  width: 100%;
  margin-bottom: 20px;
}

.line {
  width: 5px;
  height: 40px;
  background-color: #1FDCA8;
  margin-right: 20px;
}

.paragraph-card-container, .paragraph-card-container:hover {
  background-color: white;
  width: 250px;
  height: 225px;
  padding: 30px;
  margin: 0 17px 35px 17px;
  box-shadow: 0px 3px 6px #00000029;
}

.paragraph-card-container:hover {
  box-shadow: 10px 10px 10px #00000029;
  cursor: pointer;
}

.paragraph-counter {
  background-color: #6184C6;
  width: 45px;
  height: 45px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 7px;
  color: white;
}

.paragraph-is-labeled, .paragraph-is-labeled:hover {
  box-shadow: 0px 1px 2px #00000029;
  opacity: 0.7;
  color: grey;
}