#SentiLabeling {
    padding: 0 14%;
    padding-top: 90px;
    color: #555555;
  
    /* height: 90vh; */
  }
  
  .senti-working-area-container {
    background-color: white;
    width: 55vw;
    height: 77vh;
    box-shadow: 0px 3px 6px #00000029;
    padding: 50px 40px;
    padding-top: 45px;
  }
  
  .senti-question-history-container {
    background-color: white;
    width: 25vw;
    height: 77vh;
    margin-left: 20px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 50px 45px;
    padding-top: 45px;
  }
  
  .senti-back-button {
    width: 120px;
    color: #4D87EB;
    text-shadow: 0px 3px 6px #00000029;
    font-size: 14px;
    margin-bottom: 35px;
    cursor: pointer;
  }
  
  .senti-working-article-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .senti-working-article-content {
    font-size: 16px;
    margin-bottom: 50px;
  }
  
  .senti-working-textarea {
    border:1px; 
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style:none;
    border-right-style:none;
    width: 335px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  

  .function-button-senti {
    width: 100px;
    height: 60px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4C87EA;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    text-align: center;
    font: normal normal bold 14px/17px Helvetica Neue;
    letter-spacing: 0px;
    color: #4D87EB;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    user-select: none;
    transition: 0.5s;
  }
  
  .function-button-senti:hover {
    cursor: pointer;
    background-color: #4D87EB;
    color: white;
  }
  

  
  .body-padding {
    padding: 0 50px;
  }
  
 
  
  .nonaspect-label-button{
    width: 68px;
    height: 23px;
    display: flex;
    align-items: center;
    background: #DEDEDE 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    color: black;
    font: normal normal bold 14px/17px Helvetica Neue;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .nonaspect-label-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .aspect-label-button{
    width: 68px;
    height: 23px;
    display: flex;
    align-items: center;
    background: #EBFFD6 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    color: #264D24;
    font: normal normal bold 14px/17px Helvetica Neue;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .aspect-label-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .aspect-label-button-clicked{
    width: 68px;
    height: 23px;
    display: flex;
    align-items: center;
    background: rgb(98, 187, 4) 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font: normal normal bold 14px/17px Helvetica Neue;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .aspect-label-button-clicked:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .sentiment-label-button{
    width: 68px;
    height: 40px;
  
    background: #F5E5C6 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: #674F18;
    font: normal normal bold 14px/17px Helvetica Neue;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sentiment-label-button:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .sentiment-label-button-clicked{
    width: 68px;
    height: 40px;
  
    background: rgb(235, 159, 8) 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font: normal normal bold 14px/17px Helvetica Neue;
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .sentiment-label-button-clicked:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .finish-button{
    width: 200px;
    height: 60px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4C87EA;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    text-align: center;
    font: normal normal bold 14px/17px Helvetica Neue;
    letter-spacing: 0px;
    color: #4D87EB;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    margin-left:25px;
    user-select: none;
    transition: 0.5s;
  }
  
  .finish-button:hover {
    cursor: pointer;
  }
  
  .next-aspect-button{
    width: 80px;
    height: 60px;
  
    background: rgb(255, 255, 255) 0% no-repeat padding-box;
    font: normal normal bold 14px/17px Helvetica Neue;
    font-size: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #4C87EA;
    border-radius: 12px;
    text-align: center;
    letter-spacing: 0px;
    color: #4C87EA;
    opacity: 1;
  }
  
  .next-aspect-button:hover {
    cursor: pointer;
  }
  
  .body-padding {
    padding: 0 50px;
  }
  
  .senti-question-title {
    width: 100%;
    margin-bottom: 35px;
    font-size: 20px;
    display: fixed;
    color: #4D87EB;
  }
  
  .pool-title{
    text-align: left;
    font: normal normal bold 15px/5px Helvetica Neue;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
  }
  
  .pool-button{
    margin-right: 10px;
    text-align: center;
  }
  .pool-button-text{
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1; 
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 12px;
    font: normal normal bold 15px/25px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
  }
  
  .aspect-button{
    position: relative;
    left:0;
    margin-right: 10px;
    text-align: center;
  }
  .major-aspect-text{
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1; 
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 12px;
    font: normal normal bold 15px/25px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
  }
  
  .remove{
    
    background-color: #FFF;
    padding: 0 0 20px 0px; 
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    font: normal normal bold 20px/25px Helvetica Neue;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    border-radius: 50%;
  }
  .remove:hover{
    opacity: 1;
  }
  
  .single-aspect-block:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
  }
  
  .sentiment-history-block{
    margin-left: 40px;
  }