#Header {
  width: 100%;
  height: 90px;
  background-color: #EFEFEF;
  position: fixed;
}
.header-logo-container {
  height: 100%;
  width: 50%;
  color: #707070;
  padding-left: 5%;
}
.header-logo {
  height: 70px;
}
.header-router-container {
  height: 100%;
  width: 50%;
  padding-right: 5%;
}
a {
  text-decoration: none;
}
.header-router-button, .header-router-button:hover {
  height: 55px;
  width: 100px;
  /* background-color: #6184C63C; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6184C6;
  border-radius: 4px;
  margin: 0 5px;
}
.user-image {
  height: 35px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px #00000029;
  box-shadow: 1px 3px 5px #00000029;
  margin-left: 20px;
}
.user-image:hover {
  cursor: pointer;
  border: 4px solid #beafff;
  transition: 0.5s;
}
.header-router-button:hover {
  background-color: #6184C63C;
  cursor: pointer;
}

@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}